
h1, h2{
    color:#00114F;
    text-align: center;
    font-weight: bolder;
}
h3
{
    color: #E56300;
    text-align: center;
    font-weight: bolder;
}

label{
    color: #00114F;
}

b{
    text-indent: 2em;    
}

.input-group
{
    padding: 0.2em;
    margin: 0.2em ;
}

.text-primary
{
    color:#00114F; 
    font-weight: bolder;
    text-indent: 1em;
    font-size: 1em;
}

.btn-primary
{
    background-color: #00114F;
    font-weight: bolder;
    text-indent: 1em;
    font-size: 1em;
}
p
{   
    font-weight: bolder;
    text-indent: 1em;
    font-size: 1em;  
    text-indent: 5em;
}

.btn-danger
{
    background-color: #E56300;
}
.text-danger
{
    color: #E56300;
    text-align: center;
}
.btn-warning
{
    background-color: #ccb076;
}
